  @using Models
  @model Models.IBaseModelDomain[]
  @{
  
  }
  <section class="latest-blog-section p-3 p-lg-5">
        <div class="container">
            <h2 class="section-title font-weight-bold mb-5">@(Resources.PageTitles.LatestArticlesCaption)</h2>
            <div class="row">
                @foreach (var article in @Model)
                {
                    <div class="col-md-4 mb-5">
                        <div class="card blog-post-card">
                            <img class="card-img-top" src="@(article.Image[7..])" alt="image">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a class="theme-link" href="blog-post.html">
                                        @article.Title
                                    </a>
                                </h5>
                                <p class="card-text">
                                   @article.Description
                                </p>
                                <p class="mb-0"><a class="more-link" href="blog-post.html">@(Resources.PageTitles.ReadMore)</a></p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>