  @using Resources
  @model Models.IBaseModelDomain[]
 <section class="featured-section p-3 p-lg-5">
    
     <div class="container">
            <h2 class="section-title font-weight-bold mb-5">@(Resources.PageTitles.SpicialWorkCaption)</h2>
         <div class="row">
             @foreach (var proje in @Model)
             {
                 <div class="col-md-6 mb-5">
                     <div class="card project-card">
                         <div class="row no-gutters">
                             <div class="col-lg-4 card-img-holder">
                                 <img src="@(proje.ImagePath)" class="card-img" alt="image">
                             </div>
                             <div class="col-lg-8">
                                 <div class="card-body">
                                     <h5 class="card-title">
                                         <a href="project.html" class="theme-link">
                                             @proje.Title
                                         </a>
                                     </h5>
                                     <p class="card-text">
                                         @proje.Description
                                     </p>
                                     <p class="card-text"><small class="text-muted">@(PageTitles.performer) : @(proje.client.Name)</small></p>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             }
         </div>
        </div>
    </section>